.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    width: 100%;
    height: 35vh; //we will need to review this later

    .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: lightgray;
    }

    .image-header{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
