@import 'src/styles';

.principal-container {
    @include photos-container;

    .album-title {
        display: flex;
        color: $titles-color;
        font-weight: bold;
        font-family: Helvetica;
        text-align: center;
    }

    .sort-icon-container {
        @include sort-icon-container;
    }
    
    .sort-icon-container:hover {
        @include sort-icon-container-hover;
    }

    .photos-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        height: auto;

        .photo-container {
            @include photo-container;

            width: calc(100% / 6 - 1rem);

            @media screen and (max-width: 1024px) {
                width: calc(100% / 3 - 1rem);
            }

            @media screen and (max-width: 768px) {
                width: calc(100% - 1rem);
            }

            .photo {
                @include photo;
            }

            .photo-legend {
                @include photo-legend;

                opacity: 0;
                transform: translateY(100%);
                -webkit-transform: translateY(100%);
                -moz-transform: translateY(100%);
                -ms-transform: translateY(100%);
                -o-transform: translateY(100%);
                transition: transform 0.5s ease-in-out;
                -webkit-transition: transform 0.5s ease-in-out;
                -moz-transition: transform 0.5s ease-in-out;
                -ms-transition: transform 0.5s ease-in-out;
                -o-transition: transform 0.5s ease-in-out;
                word-wrap: break-word;

                .photo-name {
                    @include photo-name;
                }
            }

            .show-legend {
                opacity: 0.6;
                transform: translateY(0%);
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                -ms-transform: translateY(0%);
                -o-transform: translateY(0%);
            }
        }

        .photo-container-with-content:hover {
            @include photo-container-with-content-hover;
        }
    }
}

.pagination-container {
    @include pagination-container;
}
