<div class="principal-container">
    <div class="album-title">
        <h2>{{ albumInfo?.name }}</h2>
    </div>
    <div class="photos-container">
        <ng-container *ngIf="areImagesLoading">
            <ng-container *ngFor="let imageLoading of getPaginatedLoadingPhotos(); let i = index;">
                <ng-container *ngIf="imageLoading">
                    <div class="photo">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-container>
                <ng-container *ngIf="!imageLoading">
                    <img class="photo" [src]="photos[i].photoUrl" (click)="openPhoto(photos[i])">
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!areImagesLoading">
            <ng-container *ngFor="let photo of getPaginatedPhotos()">
                <img class="photo" [src]="photo.photoUrl" (click)="openPhoto(photo)">
            </ng-container>
        </ng-container>
    </div>
</div>

<mat-paginator [length]="photos.length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChange($event)"
    showFirstLastButtons></mat-paginator>