.nav-container {
    width: 100%;
    height: 100%; //we will need to review this later
    display: flex;
    justify-content: center;
    align-items: center;

    

    .nav-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        
        .nav-menu {
            width: 100%;
            display: flex; //I don't know if I should add the menu to the nav
            justify-content: center;
            align-items: center;
        }

        .nav-buttons-menu{
            display: none;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            align-items: center;

            .link-pages, .search {
                width: 100%;
            }
        }

        .show{
            display: flex;
        }

    
    }
    
    .nav-contacto{
            display: none;
        }
}




@media screen and (min-width: 768px) {
    .nav-container {
        width: 100%;
        height: 100%; //we will need to review this later
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        
        .nav-buttons {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            
            .nav-menu{
                display: none;
            }

            .nav-buttons-menu{
                display: flex;
                flex-direction: row;
                width: 25%; //TODO: we need to review this style because nav buttons are missorganized
                justify-content: space-between;
            }
        }

        .nav-contacto{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

        }
    
        
    }
    
    
}



/*@media screen and (max-width: 768px) {
    aspect-ratio: 4/3;
    width: 100%;
}*/
