<nav class="nav-container">
    <button class="nav-menu"> menu </button>
    <div class="nav-buttons">
        <button class="link-pages">Álbumes</button>
        <button class="link-pages">Fotos</button>
        <input class="search" type="text" placeholder="buscar..." alt="searcher">
    </div>
    <div class="nav-contacto">
        <button class="link-contacto">contacto</button> <!--this is a bug button for css purpose-->
    </div>        
<!--TODO: we will need to add the contact's component in other container, because we could use the attribute "space between" for pull apart the two parts of navbar-->

</nav>