<div class="contact">
    <a class="instagram-img" href="https://www.instagram.com/surfphoto.arg/"><mat-icon>person</mat-icon></a> <!--we be able to add an icon for the contact's options-->
    <a class="mail-img" href="mailto:surfphoto.arg@gmail.com?Subject=Interesado%20en%20contactarme"><mat-icon> contact_mail</mat-icon></a>
</div>


<!-- instagram https://www.instagram.com/surfphoto.arg/-->
<!-- correo personal surfphoto.arg@gmail.com -->



<!--	<mat-icon>drafts</mat-icon>  <mat-icon>group</mat-icon>   <mat-icon>alternate_email</mat-icon>    -->