.contact {
    display: flex;
    flex-direction: row;

    a {
        margin-right: 1rem;

        .instagram-img, .mail-img {
            font-size: 32px;
            height: 32px;
            width: 32px;
            fill: white;
        }

        .instagram-img:hover, .mail-img:hover {
            opacity: 0.75;
        }
    }
}