@import 'src/styles';

.sort-icon-container {
    @include sort-icon-container;
}

.sort-icon-container:hover {
    @include sort-icon-container-hover;
}

.albums-container {
    @include photos-container;
    width: calc(100% - 6rem);

    .photo-container {
        @include photo-container;

        width: calc(100% / 3 - 1rem);

        @media screen and (max-width: 1024px) {
            width: calc(100% / 2 - 1rem);
        }
    
        @media screen and (max-width: 768px) {
            width: calc(100% - 1rem);
        }

        .photo {
            @include photo;
        }

        .photo-legend {
            @include photo-legend;

            opacity: 0.6;

            .album-name,
            .album-number-photos {
                @include photo-name;
            }

            .album-number-photos {
                margin-bottom: 0rem !important;
            }
        }
    }

    .photo-container-with-content:hover {
        @include photo-container-with-content-hover;
    }
}

.image-not-found-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3 - 1rem);

    @media screen and (max-width: 1024px) {
        width: calc(100% / 2 - 1rem);
    }

    @media screen and (max-width: 768px) {
        width: calc(100% - 1rem);
    }

    img {
        width: 100%;
    }

    p {
        width: 100%;
        color: $titles-color;
    }
}

.pagination-container {
    @include pagination-container;
}
