<div class="albums-container">
    <!--TODO: We will need to do a charge image-->
    <div class="row">
        <div class="image-container">
            <img [src]="photoData" alt="Photo">
        </div>
        <div class="image-container">

        </div>
        <div class="image-container">

        </div>
    </div>
    <div class="row">
        <div class="image-container">

        </div>
        <div class="image-container">

        </div>
        <div class="image-container">

        </div>
    </div>
    <div class="row">
        <div class="image-container">

        </div>
        <div class="image-container">

        </div>
        <div class="image-container">

        </div>
    </div>

</div>