.albums-container {
    width: calc(100% - 6rem);
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem; // TODO: Review this later
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .image1{
        height: 29rem; 
    }

    .image2{
        height: 27rem;
    }

    .image3{
        height: 31rem;
        
    }

    .image-container { // TODO: Add media-screen
        width: 30%;
        margin: 0.1rem; // TODO: Review this later
        background-color: lightgray;
        aspect-ratio: 4/3;

        @media screen and (max-width: 768px) {
            aspect-ratio: 4/3;
            width: 100%;
        }
        
        img {
            width: 100%;
            height: 100%;
        }
    }
}




// .column:nth-child(1) {
//     .image-container {
//         height: 500px;
//     }
// }

// .col1,.col2,.col3{
//     width: 33%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }


// .col1 .img1{
//     width: 100%;
//     height: 20vh;
//     background-color: red;

// }
// .col1 .img2{
//     width: 100%;
//     height: 20vh;
//     background-color: yellow;

// }
// .col1 .img3{
//     width: 100%;
//     height: 20vh;
//     background-color: gray;
// }
// .col1 .img4{
//     width: 100%;
//     height: 20vh;
//     background-color: blue;

// }
// .col1 .img5{
//     width: 100%;
//     height: 20vh;
//     background-color: rebeccapurple;

// }


// .col2 .img1{
//     width: 100%;
//     height: 16vh;
//     background-color: black;
// }
// .col2 .img2{
//     width: 100%;
//     height: 16vh;
//     background-color: orange;
// }
// .col2 .img3{
//     width: 100%;
//     height: 16vh;
//     background-color: green;
// }
// .col2 .img4{
//     width: 100%;
//     height: 16vh;
//     background-color: tomato;

// }
// .col2 .img5{
//     width: 100%;
//     height: 16vh;
//     background-color: pink;

// }


// .col3 .img1{
//     width: 100%;
//     height: 18vh;
//     background-color: purple;
// }
// .col3 .img2{
//     width: 100%;
//     height: 18vh;
//     background-color: salmon;
// }
// .col3 .img3{
//     width: 100%;
//     height: 18vh;
//     background-color: teal;
// }

// .col3 .img4{
//     width: 100%;
//     height: 18vh;
//     background-color: gold;

// }
// .col3 .img5{
//     width: 100%;
//     height: 18vh;
//     background-color:darkmagenta;

// }